@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
  font-family: "Sora", sans-serif;
  text-align: center;
}

#clickerContainer, #shopContainer {
  display: inline-block;
  margin: 20px;
  --main-background-color: white;
  background-color: var(--main-background-color);
  border: 10px;
  border-style: solid;
  border-color: rgba(128, 30, 0, 0.904);
  justify-content: center;
  align-items: center;
}


button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

#punchBag {
  height: 200px;
  width: 200px;
}

#gamespace {
  background-image: url(../assets/gymArea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  --foot-bg-color: black;
  background-color: var(--foot-bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar {
  --nav-bg-color: black;
  background-color: var(--nav-bg-color);
  position: top;
  top: 0;
  width: 100%;
}

#settings {
  background-color: gray;
  color: black;
  border: solid;
  border-color: black;
}

.aligningItems {
  text-align: center;
  margin: 20px;
}

.nav-link-active {
  color: white;
  text-decoration: none;
}

